<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="CMCJava - Test Suite">

   	<parameter name="seleniumgridurl" value="local"></parameter>
   	<parameter name="browser" value="chrome"></parameter>
    <parameter name="executionenv" value="local"></parameter>
    <parameter name="version" value=""></parameter>
    <parameter name="platform" value=""></parameter>
	<parameter name="chromeDownloadDirPath" value="c:\temp\"></parameter>
     
    <parameter name="projectID" value="35"></parameter>
    <parameter name="suiteID" value="549"></parameter>

	<test name="CMCTests - Chrome">
		<parameter name="browser" value="saucelabs"/>
		<classes>
			<class name="com.cubic.cmctests.tests.TestScript_Driver"/>
			<class name="com.cubic.cmctests.tests.CreateCustomerAPITest"/>
		</classes>
	</test>
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>	
</suite>